* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  background-color: #26b3ba;
  height: 100vh;
  background-size: cover;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  


  
}


.heading{
  text-align: center;
}

form{
  text-align: center;
}
.input{
  color:black;
  padding-top: 10px;
}

.button{
  padding: 10px;
  width:100px;
  background-color: #1a31dc;
  color: #fff;
  border-radius: 10px;
  border:2px solid #1a31dc
}

.container{
  text-align: center;
  background-color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px;

}

button:hover{
  cursor: pointer;
  background-color: #1f2b82;
}